# Brevo Configuration
BREVO_API_KEY=
BREVO_SENDER_EMAIL=noreply@jsmyautosales.com
BREVO_SENDER_NAME="JSMY Auto Sales"

# Notification Emails
NOTIFICATION_EMAIL=


# Instagram Configuration (Behold.so)
NEXT_PUBLIC_BEHOLD_FEED_ID=
